
.head {
    background-image: url(https://i.postimg.cc/C1c7c13q/yk1r4avg0cv81.webp);
    color: rgb(250, 250, 250);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Press Start 2P', cursive;
    height: 360vh;
    background-color: rgb(20, 26, 26);
}

.head .topnav a {
    position: relative;
    left:36rem;
    top: 1rem;
    text-decoration: none;
    color: yellow;
    padding: 2rem;
}

.head .topnav a:hover {
    color:aquamarine;
}

.tophead {
    position: relative;
    top: 4rem;
    left:1rem;
    padding: 1rem;
    width: 54rem;
    background-color: rgba(9, 165, 168, 0.527);
    height: 20rem;
}

.tophead p {
    width: 46rem;
    position: relative;
    top: 3rem;
}

.progs {
    position: relative;
    left: 57rem;
    bottom: -2rem;
}

.gun {
    position: relative;
    bottom: 10rem;
    width: 40rem;
}

.projects {
    position: relative;
    bottom: 10rem;
}

.projects h3 {
    background-color: rgba(8, 8, 8, 0.527);
}

.backrooms {
    position: relative;
    top: 1rem;
}

.backrooms p {
    background-color: rgba(33, 34, 36, 0.527);
}

.database {
    position: relative;
    top: 5rem;
}

.database p {
    background-color:rgba(33, 34, 36, 0.527);
}

.footer {
    position: relative;
    top: 12.5rem;
}