@import url('https://fonts.googleapis.com/css2?family=Courgette&family=DM+Serif+Display:ital@1&family=Lobster&family=Silkscreen&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(../img/greenpixelcity.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    background-attachment: fixed;
}

h1 {
    padding-left: 10px;
}

a {
    text-decoration: none;
}

.topnav a {
    margin: 0;
    color: lime;
    padding:20px;
    text-decoration:none;
    font-size:20px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;
    margin-left: 60px;
    
}

.topnav {
    margin:1px;
    padding:0;
    position: fixed;
    
    box-sizing: border-box;
    background-color: black;
    width: 1364px;
    z-index: 2;
    margin-top: -9px;
}

.topnav a:hover {
    color:aliceblue;
    text-shadow: 0 0 10px aliceblue;
    text-decoration: none;
}

.social-icons {
    margin:0;
    padding:0;
    
}

.social-icons i{
    margin:0;
    padding:0;
    display: inline-flexbox; 
    
}

.social-icons a {
    text-decoration: none;
    color:rgba(255,255,255,0.5);
    
}

.social-icons:hover a {
    text-decoration: none;
} 

.social-icons ul {
    position: relative;
    margin:10px;
    padding:10px;
    top: 120px;
    left: 310px;
}

.social-icons ul li {
    list-style: none;
    padding:0;
    position: relative;
    display: flexbox;
    color:#666;
    font-size: 25px;
    height:51px;
    width:51px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    line-height:50px;
    border-radius: 10%;
    margin:10px;
    top: 5rem;
    cursor:pointer;
}

.social-icons ul li:before {
    margin:0;
    padding:0;
    position:relative;
    top:10rem;
    left:0;
    text-align: center;
    border-radius:50%;
    
    transform:scale(0.9);
    transition: .5s;
}

ul li:nth-child(1):before {
    background:rgba(0,0,0,0.5);
}

ul li:nth-child(2):before {
    background:rgba(0,0,0,0.5)
}

ul li:nth-child(3):before {
    background:rgba(0,0,0,0.5)
}

ul li:nth-child(4):before {
    background:rgba(0,0,0,0.5);
}
ul li:nth-child(5):before {
    background:rgba(0,0,0,0.5);
}

ul li:hover:before {
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    text-align: center;
    border-radius:50%;
    
    transform:scale(0);
    transition:0;
}

ul li:hover {
    /* translate:calc(50% 50%); */
    transform:scale(1.1);
    
}

.social-icons ul li:nth-child(1):hover {
    
    color:rgb(78, 211, 255);
    box-shadow: 0 0 20px 5px rgb(78, 211, 255);
    text-shadow: 0 0 10px rgb(78, 211, 255);
    background-color: black;
}

.social-icons ul li:nth-child(2):hover {
    color:blue;
    box-shadow: 0 0 20px 5px blue;
    text-shadow: 0 0 10px blue;
    background-color: black;
}

.social-icons ul li:nth-child(3):hover {
    color:rgb(253, 32, 154);
    box-shadow: 0 0 20px 11px rgb(252, 48, 160);
    text-shadow: 0 0 10px rgb(252, 48, 160);
    background-color: black;
}

.social-icons ul li:nth-child(4):hover {
    color:rgb(184, 3, 184);
    box-shadow: 0 0 20px 8px rgb(184, 3, 184);
    text-shadow: 0 0 10px rgb(184, 3, 184);
    background-color: black;
}
.social-icons ul li:nth-child(5):hover {
    color:rgb(184, 3, 3);
    box-shadow: 0 0 20px 8px rgb(184, 3, 3);
    text-shadow: 0 0 10px rgb(184, 3, 3);
    background-color: black;
}


.aboutMe {
    position: relative;
    padding: 30px;
    left: 25rem;
    bottom: 230px;
    display:inline-block;
    width: 600px;
    height: 470px;
    border-radius: 20px;
    margin-bottom: 25rem;
    
}

.aboutMe h4 {
    font-size: 16px;
}

.aboutMe h1 {
    font-family: 'Press Start 2P', cursive;
}

.aboutMe, .about, h1, h3 {
    color: lime;
    background: rgba(0, 0, 0, 0.842);
    font-family: 'Press Start 2P', cursive;
    padding-top: 20px;
}

.aboutMe h1, .about h1 {
    font-size: 22px;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 2px solid lime;
    color: violet;
}

.aboutMe img {
    margin-left: 130px;
    width: 300px;
    height: 300px;
    border-radius: 200px; 
    border: 3px solid lime;
}

.port {
    color: lime;
    background: rgba(0, 0, 0, 0.842);
    position: relative;
    top: 3rem;
    margin-bottom: 10px;
    
    left: 2rem;
    text-decoration: none;
}

.port:hover {
    background-color: lime;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px lime;
    
}

#aboutMe {
    position: relative;
    margin: 0px;
    bottom: 4rem;
    width: 310px;
    height: 740px;
    border-radius: 10px;
}

#aboutMe h4 {
    color:#877666;
}

#aboutMe p {
    font-size: 15px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.hobbies {
    margin-top: -520px;
    height: 135vh;
}

.hobbies .row {
    position: relative;
    margin-top: 90px;
    left: 3rem;
}
  
.flip-card {
    padding: 0;
    margin-top: 80px;
    margin-left: 20px;
    font-family: 'Space Mono', monospace;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
   
  }
  
  .flip-card-back {
    background-color: black;
    color: violet;
    transform: rotateY(180deg);
    height: 300px;
    padding: 10px;
  }

  .flip-card-back h1 {
    border:3px solid lime;
    padding: 5px;
  }

  
  #modal{
      margin-bottom: -200px;
      width: 150px;
    margin-left: -700px; 
    font-weight: bold;
    height: 70px;
}

.projects .modal-body, .modal-content {
    background: black;
    color: lime;
    font-family: 'Space Mono', monospace;
    
}
    
#projects .card-body {
    background: rgba(0, 0, 0, 0.9);
    margin-bottom: -60px;

    width: 25rem;
    position: relative;
    left: 1rem;
    border-radius: 0px;
    border: 1px solid lime;
    font-family: 'Space Mono', monospace;
    color: #9DB5B2;
    font-size: 15px;
    letter-spacing: 1px;
}

#projects .img-fluid {
    margin-bottom: 10pxC;
    
    border-radius: 0px;
    border-bottom: 0px solid lime;
}

.card-title {
    margin:10px;
}

#projects .card-text {
    padding: 10px;
    color: #fff;
    font-family: 'Space Mono', monospace;
} 

#exampleInputText1 {
    margin: 0;
    padding: 0;
    height: 100px;
}


.calculator {
    margin: 50px;
    margin-bottom: 1rem;
    padding:30px;
    background: linear-gradient(to left, salmon, rgb(214, 11, 214));
    box-shadow: 0 0 20px black;
    justify-content: center;
    width: 400px;
    border-radius: 20px;
    font-family: 'VT323', monospace;
    font-weight: bold;
} 

.calculator button:hover {
    background-color: rgb(248, 224, 11);
    border: 2px solid yellow;
    
    transition: 0.1s ease-in-out;
    color:white;
}

.calculator button{
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: rgb(12, 245, 12);
    border: 1px solid lime;
    font-weight: bold;
}


#btn {
    background:rgb(253, 6, 171);
    width:110px;
    border:rgb(253, 6, 171);
}

#btn:hover {
    background-color: rgba(255, 3, 3, 0.842);
    border: 4px solid rgb(255, 0, 34);
}

.output {
    overflow: hidden;
    background:white;
    height:100px;
    border-radius: 10px;
}

.scrDisplay {
    text-align: right;
    margin: 0;
    word-wrap:break-word;
    word-break: break-all;
   
}

.calDisplay {
    font-size: 30px;
    margin: 0;
    text-align: right;
    word-wrap:break-word;
    word-break: break-all;
}

#education {
    margin:0;
    padding:0;
    position:relative;
    margin-bottom : 2rem;
    gap:50px;
    font-family: 'VT323', monospace;
}

#education p {
    color: #fff;
    width:300px;
    height: 130px;
}


#education .card {
    margin: 25px;
    margin-left: 65px;
    background: rgba(0, 0, 0, 0.7);
    width: 350px;
    height:370px;
}


#education .card-title{
    color: #9DB5B2;
    font-size: 18px;
    width:200px;
    height:50px;
    letter-spacing: 1px;
}

#education h2 {
    margin:0 ;
    color: #666;
    font-weight: bold;
}

#bootstrap-logo h3 {
    position: relative;
    left: 60px;
}

#skills {
    position: relative;
    height: 250vh; /*Changes section length*/
    background: rgba(0,0,0,0.7);
    
}

#skills title {
    margin-bottom: 1rem;
}

#skills .col-md-6 {
    border:#9DB5B2;

}

#skills .row {
    margin: 0;
    margin-left: -90px;
    margin-right: -20px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-center;
}

#testimonials .card {
    position: relative;
    right: 2rem;
}
#testimonials .card img {
    width:150px;
    
    overflow:hidden;
    border-radius: 3px;
}

#testimonials {
    
    margin-top: 0rem;
}

#testimonials .card-title {
    font-size: 18px;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
footer{
    background-color: #111010;
    margin-bottom: -2rem;
}
.f-item-con{
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}
footer .app-name{
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
.app-name .app-initial{
    color: var(--theme-col);
}
footer .app-info p{
    color: white;
    padding-left: 1.65rem;
}

footer .footer-title{ 
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    /* height: fit-content; */
}
.useful-links ul{ 
    padding-left: 0.75rem;
    color: white;
    font-size: 0.5rem/* 14px */;
    line-height: 1.25rem;
    margin-top: .5rem;
}
.useful-links ul li{ 
    margin: .2rem 0;
    cursor: pointer;
    color: #d4d4d4;
    /* width: fit-content; */
}
.useful-links ul li:hover{
    color: white;
}
footer .help-sec{
    grid-column-start: 1;
}
footer .cr-con{
    background-color: #232127;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}
.g-i-t{
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.g-i-t form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
form .g-inp{
    padding: .25rem .5rem;
    font-size: 16px;
}
.g-inp textarea{
    height: 150px;
}

  .useful-links{
    padding: .25rem 1rem;
    background-color: var(--theme-col);
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
}


