@import url('https://fonts.googleapis.com/css2?family=Courgette&family=DM+Serif+Display:ital@1&family=Lobster&family=Silkscreen&display=swap');

body {
    overflow-x: hidden;
    background-image: url(../img/greenpixelcity.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.topnav a {
    color: lime;
    padding:20px;
    text-decoration:none;
    font-size:20px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;
    margin-left: 60px;
}

.topnav {
    margin:1px;
    padding:0;
    position: fixed;
    width:100%;
    box-sizing: border-box;
    background-color: black;
    width: 1364px;
}

.topnav a:hover {
    color:aliceblue;
    text-shadow: 0 0 10px aliceblue;
    text-decoration: none;
}

.aboutMe {
    padding: 30px;
    margin-left: 25rem;
    margin-top: 100px;
    display:inline-block;
    width: 590px;
    height: 440px;
    border-radius: 20px;
}

.aboutMe, h1, h3 {
    color: lime;
    background-color: black;
    font-family: 'Space Mono', monospace;
    padding-top: 20px;
}

.aboutMe, h1 {
    font-size: 40px;
}

.aboutMe img {
   
    margin-left: 130px;
    width: 300px;
    height: 300px;
    border-radius: 200px; 
    border: 3px solid lime;
}

.hobbies {
    margin-top: 100px;
    height: 100vh;
}

.hobbies .row {
    margin-top: 150px;
    margin-left: 10rem;
    
}
  
.flip-card {
    padding: 0;
    margin: 30px;
    margin-left: 10px;
    font-family: 'Space Mono', monospace;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
   
  }
  
  .flip-card-back {
    background-color: black;
    color: rgb(238, 105, 238);
    transform: rotateY(180deg);
    height: 300px;
  }
